@import "../../../styles//base.scss";

.container{
    max-width: 1400px;
    margin: 0  auto;
}

.search_navbar{
    display: flex;
    justify-content:space-around;
    margin: 15px 0px 

}

.navbar{
    display: grid;
    justify-content:space-around;
    display: flex;
    gap: 20px;
}
.header{

    &__container{

    }
 //.................... top banner ............................//
    &__topbanner{
        img{
            width:100%; 
        }
    
    }
     //.................... top ............................//
    &__top{
        background: $background-second-base-color;
        .container{
            display: flex;
            justify-content: space-between;
            
        }
        .topleft{
            ul{
                display: flex;
                align-items: center;
                height: 46px;
            }
            li{
                font-size:$base-font-size;
                color: $base-text-color;
                margin-right: 20px;
                border-left: 1px solid $border-color;
                padding-left: 10px;
                &:hover{
                    color: $color;
                }
            }
        }
        .topright{
            ul{
                display: flex;
                align-items: center;
                height: 46px;
            }
            li{
                font-size:$base-font-size;
                color: $base-text-color;
                margin-right: 20px;
                border-left: 1px solid $border-color;
                padding-left: 10px;
                cursor: pointer;
                &:hover{
                    color: $color;
                }
            }
        }
    }
   //.................... search-bar ............................//
    &__inputField {
        width: 50%;
        position: relative;
      .button{
        position: absolute;
        top: 4px;
        right: 5px;
      }
      input{
        margin-left: 20px;
      }
      .searchIcon{
        position: absolute;
        top: 15px;
        font-size: 1.4rem;
        color:$base-text-color;
        padding-left: 7px;
      }
     
     
    }
//.................... logo ............................//

    &__logo{
       display: flex;
       align-items: center;
    }
   //.................... user/cart ............................//
   &__cart{
    height: 100%;
    ul{
        display: flex;
        align-items: center;
        gap: 20px;
        position: relative;
     li{
        font-size: 30px;
        
        &:hover{
            background:$background-second-base-color;
            border-radius: 50%;
        }
     }
     .wishlist{
        position:absolute;
        left: 85px;
        top: 5px;
        border: 1px solid $base-text-color;
        border-radius: 50%;
        font-size: 13px;
        height: 16px;
        width: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $color;
        color: $white-color;

     }
     .cart{
        position:absolute;
        right: 1px;
        top: 6px;
        border: 1px solid $base-text-color;
        border-radius: 50%;
        font-size: 13px;
        height: 16px;
        width: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $color;
        color: $white-color;

     }
    }
   }

}

//.................... categories ............................//


// .overlay {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100vw;
//   height: 100vh;
//   background-color: rgba(0, 0, 0, 0.9);
//   z-index: -1;
//   opacity: 0;
//   transition: 1s all;
// }

.menuNavbar {
  display: flex;
  align-items: center;
  width: 100vw;
  background-color: #fff;
  box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.3);
  position: relative;
  padding: 0px 70px;
  background-color: #fff;
}


.navbar-links {
  list-style-type: none;
  display: flex;
}
.navbar-links li a {
  display: block;
  text-decoration: none;
  color: #444;
  padding: 20px 20px;
  font-weight: 700;
  transition: 0.4s all;
}

.navbar-links li.navbar-dropdown {
  position: relative;
}

.navbar-links li.navbar-dropdown:hover .dropdown {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}

.navbar-links li.navbar-dropdown .dropdown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding: 20px 0;
  top: 100%;
  transform: translateY(50px);
  left: 0;
  width: 250px;
  background-color: #fff;
  box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  z-index: 111;
  transition: 0.4s all;
}
.navbar-links li.navbar-dropdown .dropdown a {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 400;
}
.navbar-dropdown .dropdown a:hover {
  padding-left: 30px;
}
.navbar-links li a:hover {
  color: #ff3f34;
}

