//................... color .......................................//
$color:#9b63d6;
$base-text-color :#666;
$heading-color:#313c46;
$white-color:#fff;
//.................. black screen text color ...........................//

$black-text-color:#cccccc;
//.................. font size ...................................//
$base-font-size:12px;
$heading-font-size:18px;
$middle-heading-font-size:24px;
//.................. border .....................................//
$border-color:#bcb9b966;

//................. background color ..........................//

$footer-color:#222930;

