//.................. color ...........................//
$color:#9b63d6;
$base-text-color :#666;
$heading-color:#313c46;
$white-color:#fff;
//.................. font size ...........................//
$base-font-size:12px;
$heading-font-size:18px;
//.................. border ...........................//
$border-color:#bcb9b966;



